:root {
  --text:       black;
  --background: white;
  --primary:    hsl(85 75% 30%);
  --highlight:  hsl(55 75% 75%);
  --padding: 1rlh;
  --margin: 2rlh;
  --contentWidth: 40rem;
  --line: 0.25rem;
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;
  color: var(--text);
  background-color: var(--background);
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--text);
}

::selection {
  color: var(--text);
  background: var(--highlight);
}

:first-child { margin-block-start: 0 !important; }
:last-child { margin-block-end: 0 !important; }

body {
  width: 100%;
  max-width: var(--contentWidth);
  margin-inline: auto;
  padding: var(--padding);
}

h1, hr, h2, p, img, aside {
  margin-block: var(--margin);
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

hr {
  height: var(--line);
  background: var(--primary);
  border: none;
  outline: none;
  border-radius: calc(var(--line));
}

a {
  color: var(--primary);
  text-decoration-color: var(--primary);
  text-underline-position: from-font;
}

img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  border: var(--line) solid var(--primary);
  border-radius: 0.25rem;
}

aside {
  text-align: right;
}